<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Your CD Search</title>
</head>

<body>
    <div class='container'>
        <h1>Your search results:</h1>
        {% if albums is empty %}
        <p>No albums match your search.</p>
        {% endif %}
        
        {% for album in albums %}
        <div class='row'>
               <div class='col-md-6'>
                   <img src="{{ album.getCoverArt }}">
               </div>
               <div class='col-md-6'>
                    <p> {{ album.getTitle }} </p>
                    <p>By {{ album.getArtist }} </p>
                    <p>${{ album.getPrice }} </p>
                </div>
        </div>
        {% endfor %}
    </div>
    <form action="/">
        <button type="submit" class="btn-success">Go Home</button>
    </form>
</body>
</html>
