<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Search CD</title>
</head>

<body>
    <div class='container'>
        <h1>Search By Artist</h1>
        <form action="/result">
                <label for="artist">Enter Artist:</label>
                <input id="artist" name="artist" class="form-control" type="text">
            </div>
            <button type="submit" class="btn-success">Submit</button>
        </form>
    </div>
    <br>
    <form action="/">
        <button type="submit" class="btn-success">Return Home</button>
    </form>

</body>
</html>
